.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e293b;
    padding: 15px 30px;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: 500;
    }

        .nav-links a:hover {
            color: #38bdf8;
        }

.logout-btn {
    background: #ef4444;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.welcome {
    color: #38bdf8;
}
